# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
web-build/
dist/

# Native build outputs
android/
ios/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env
.env
.env.*

# macOS / editor
.DS_Store
.vscode/
.idea/
